.subtitle{
display: flex;
align-items: center;
gap: 0.65rem;
span {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-left: 1.5rem;
}
ion-icon{
    background-color: rgb(64, 64, 214);
    color: azure;
    border-radius: 50%;
    }
}

h1{

font-weight: 700;
font-size: 12.4rem;
line-height: 97.5%;
}

h2{
font-weight: 700;
font-size: 4.8rem;
line-height: 130%;
}

p{
font-weight: 400;
font-size: 2rem;
line-height: 160%;
}


.card-character{

    width: 100%;
    max-width: 38.4rem;
    

}



